In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645"

In [3]:
req = requests.get(url)

In [5]:
html = req.text

In [6]:
soup = BeautifulSoup(html, 'html.parser')

In [12]:
name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')

In [16]:
name_t = []
for n in name:
    name_t.append(n.text)

In [17]:
name_t

['부자랑', '홈돌이로또복권', 'LG슈퍼', '경준유통', '오천억복권방', '제우스테크', '강경복권방', '청룡마트', '스타복권']

In [21]:
division = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')

In [25]:
div_t = []
for d in division:
    div_t.append(d.text.strip())

In [26]:
div_t

['수동', '자동', '수동', '자동', '자동', '자동', '자동', '자동', '자동']

In [33]:
address = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

In [36]:
address_t = []
for a in address:
    address_t.append(a.text.strip())

In [37]:
address_t

['서울 성동구 둘레15길 23',
 '인천 남동구 경원대로 971 삼성홈플러스간석점2층내',
 '인천 연수구 함박로12번길 24 1층',
 '인천 중구 화랑목로100번길 65 104호',
 '광주 서구 상무대로 1087',
 '대전 서구 원도안로 30',
 '충남 논산시 강경읍 계백로 126-1,(대흥리)',
 '충남 천안시 동남구 풍세로 1010-31 현대아파트상가B-102호',
 '전남 목포시 고하대로 688-1 1층']

In [38]:
data = list(zip(name_t, div_t, address_t))

In [39]:
lotto = pd.DataFrame(data, columns=['상호명', '구분', '소재지'])

In [40]:
lotto

       상호명  구분                                   소재지
0      부자랑  수동                       서울 성동구 둘레15길 23
1  홈돌이로또복권  자동          인천 남동구 경원대로 971 삼성홈플러스간석점2층내
2     LG슈퍼  수동                  인천 연수구 함박로12번길 24 1층
3     경준유통  자동               인천 중구 화랑목로100번길 65 104호
4   오천억복권방  자동                       광주 서구 상무대로 1087
5    제우스테크  자동                         대전 서구 원도안로 30
6    강경복권방  자동            충남 논산시 강경읍 계백로 126-1,(대흥리)
7     청룡마트  자동  충남 천안시 동남구 풍세로 1010-31 현대아파트상가B-102호
8     스타복권  자동                  전남 목포시 고하대로 688-1 1층

In [41]:
form_data = {'method':'topStore','nowPage':'1','rankNo':'','gameNo':'5133','drwNo':'1030','schKey':'all','schVal':''}

In [42]:
form_data

{'method': 'topStore',
 'nowPage': '1',
 'rankNo': '',
 'gameNo': '5133',
 'drwNo': '1030',
 'schKey': 'all',
 'schVal': ''}

In [52]:
url = "https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645"
rounds_t = []
name_t = []
div_t = []
address_t = []
for rounds in range(1000, 1035):
    form_data = {'method':'topStore','nowPage':'1','rankNo':'','gameNo':'5133','drwNo':str(rounds),'schKey':'all','schVal':''}

    req = requests.post(url, data=form_data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')

    name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    division = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    address = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    
    for i in range(len(name)):
        rounds_t.append(rounds)
        name_t.append(name[i].text)
        div_t.append(division[i].text.strip())
        address_t.append(address[i].text.strip())
    
data = list(zip(rounds_t, name_t, div_t, address_t))
lotto = pd.DataFrame(data, columns=['회차', '상호명', '구분', '소재지'])
lotto

       회차          상호명  구분                                               소재지
0    1000         행운식품  자동                                   서울 관악구 신원로3길 21
1    1000    로또백화점 홍은점  수동                           서울 서대문구 세검정로 99-1 1층 좌측
2    1000  인터넷 복권판매사이트  수동                             동행복권(dhlottery.co.kr)
3    1000         복권나라  수동                            서울 성동구 용답중앙15길 12-1 1층
4    1000      티에스네트웍스  자동  서울 영등포구 신길로28길  9 상가동 B2층 00006호(신길동, 힐스테이트클래시안)
..    ...          ...  ..                                               ...
407  1034       오천억복권방  자동                                   광주 서구 상무대로 1087
408  1034        제우스테크  자동                                     대전 서구 원도안로 30
409  1034        강경복권방  자동                        충남 논산시 강경읍 계백로 126-1,(대흥리)
410  1034         청룡마트  자동              충남 천안시 동남구 풍세로 1010-31 현대아파트상가B-102호
411  1034         스타복권  자동                              전남 목포시 고하대로 688-1 1층

[412 rows x 4 columns]

In [53]:
lotto.to_csv('lotto.csv', index=False, encoding='euc-kr')

In [65]:
lotto.groupby('회차').size().sort_values(ascending=False)

회차
1019    50
1000    22
1028    20
1030    19
1026    15
1009    15
1003    14
1012    13
1033    13
1020    13
1001    12
1021    12
1005    12
1016    11
1008    11
1011    11
1029    10
1014    10
1027    10
1032    10
1004    10
1023     9
1034     9
1007     9
1006     9
1024     8
1015     8
1010     8
1031     8
1002     8
1017     7
1022     5
1013     5
1025     4
1018     2
dtype: int64

In [75]:
lotto.groupby(lotto['소재지'].str.split().str[0]).size().sort_values(ascending=False)

소재지
경기                       105
서울                        79
충남                        27
인천                        26
부산                        24
경남                        22
전북                        17
동행복권(dhlottery.co.kr)     17
전남                        16
경북                        15
대구                        14
강원                         9
울산                         9
대전                         9
충북                         8
광주                         7
제주                         6
세종                         2
dtype: int64

In [76]:
lotto.groupby(lotto['소재지'].str.split().str[1]).size().sort_values(ascending=False)

소재지
서구     13
중구     12
수원시    10
송파구     9
고양시     9
       ..
원주시     1
유성구     1
동래구     1
인제군     1
화천군     1
Length: 126, dtype: int64