# 파이썬 테스트

1. 57, 84, 93, 58, 67의 평균을 구하세요.
1. 5188531을 시간, 분, 초 단위로 변환하세요.
1. 2의 100제곱을 7로 나눈 몫과 나머지를 구하세요.

In [1]:
avg = sum([57,84,93,58,67]) / 5
avg

71.8

In [2]:
sec = 5188531
tme = sec // 3600
sec %= 3600
mnt = sec // 60
sec %= 60
print(f"{tme}시간 {mnt}분 {sec}초")

1441시간 15분 31초

In [3]:
num = 2**100
print(f"몫 : {num // 7}, 나머지 : {num % 7}")

몫 : 181092942889747057356671886482, 나머지 : 2

1. 010-1234-5678 전화번호에서 '-'를 제거하세요.
1. 900101-1234567 주민등록번호에서 성별을 나타내는 숫자만 인덱싱
1. 900101-1234567 주민등록번호에서 나이 계산
   ex) 010101-3456789
1. 900101-1234567 주민등록번호에서 '-' 뒤의 숫자 전체를 슬라이싱

In [4]:
tel = "010-1234-5678"
# "".join(tel.split('-'))
tel.replace('-', '')

'01012345678'

In [5]:
idNum = "900101-1234567"

In [6]:
gender = int(idNum[7])
gender

1

In [7]:
idx = idNum[:2]
if gender < 3:
    age = 2022 - int('19' + idx) + 1
else:
    age = 2022 - int('20' + idx) + 1
age

33

In [8]:
idNum.split('-')[1]

'1234567'

1. list1=[13,52,24,35,38]을 내림차순으로 정렬하시오.
1. list2=['Hello', 'my', 'friends'] 사이에 띄어 쓰기를 넣어 문자열을 완성하세요.
1. "DP,오징어게임,슬기로운 의사생활"을 netflix_list 라는 리스트로 만들어보세요.
1. netflix_list 맨 뒤에 "호텔 델루나"를 추가해보세요.
1. "갯마을 차차차"를 netflix_list 맨 앞에 추가해보세요.
1. "DP"를 삭제하고, 그 위치에 "검은태양"을 추가해보세요.
1. list3=[294,185,1384,1282,375,283]의 최대, 최소, 합, 평균을 구하시오.
1. 문자열 str1 = "naver,sk,google,kakao"에서 각각의 회사명을 company_list에 넣고 오름차순으로 정렬하세요.

In [9]:
list1=[13,52,24,35,38]
list1.sort(reverse=True)
list1

[52, 38, 35, 24, 13]

In [10]:
list2=['Hello', 'my', 'friends']
" ".join(list2)

'Hello my friends'

In [11]:
drama = "DP,오징어게임,슬기로운 의사생활"
netflix_list = drama.split(',')
netflix_list

['DP', '오징어게임', '슬기로운 의사생활']

In [12]:
netflix_list.append("호텔 델루나")
netflix_list

['DP', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [13]:
netflix_list.insert(0, "갯마을 차차차")
netflix_list

['갯마을 차차차', 'DP', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [14]:
idx = netflix_list.index("DP")
netflix_list.remove("DP")
netflix_list.insert(idx, "검은태양")
netflix_list

['갯마을 차차차', '검은태양', '오징어게임', '슬기로운 의사생활', '호텔 델루나']

In [15]:
list3 = [294,185,1384,1282,375,283]
max(list3), min(list3), sum(list3), sum(list3) / len(list3)

(1384, 185, 3803, 633.8333333333334)

In [16]:
str1 = "naver,sk,google,kakao"
company_list = str1.split(',')
company_list.sort()
company_list

['google', 'kakao', 'naver', 'sk']

1. for문을 이용하여 received_list에서 allowed_list에 존재하지 않는 목록을 뽑아 spam_mail 이라는 리스트를 만드는 코드를 구현하시오.
    - received_list = ['tom', 'jenny', 'kyle', 'young', 'tami']
    - allowed_list = ['kyle', 'tami', 'jason']
2. for문을 이용하여 word_list에서 단어가 7글자 이상이면 모두 대문자로, 7글자 미만이면 모두 소문자로 출력하는 코드를 구현하시오.<br>
    - word_list = ["culture", "symbol", "effect", "experience", "affair"]<br>
3. 구구단 3단 중 결과가 홀수인 결과만 출력하는 코드를 구현하시오.
4. 다음 2차원 배열의 모든 요소를 출력하는 코드를 구현하시오.<br>
    - matrix = [[1,2,3], [4,5,6], [7,8,9]]

In [17]:
received_list = ['tom', 'jenny', 'kyle', 'young', 'tami']
allowed_list = ['kyle', 'tami', 'jason']
spam_mail = []
for i in received_list:
    if i not in allowed_list:
        spam_mail.append(i)
spam_mail

['tom', 'jenny', 'young']

In [18]:
word_list = ["culture", "symbol", "effect", "experience", "affair"]
for i in word_list:
    if len(i) >= 7:
        print(i.upper())
    else:
        print(i.lower())

CULTURE
symbol
effect
EXPERIENCE
affair

In [19]:
for j in range(1, 10):
    now = j*3
    if now % 2 == 1:
        print(now)

3
9
15
21
27

In [20]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

1. 인자로 숫자 n을 입력받아, '안녕하세요'를 n회 출력하는 함수를 구현하세요.
1. 임의의 m개의 인자가 전달될 때, 모든 합을 리턴하는 함수를 구현하세요.
1. 인자로 l=[1,4,3,5,7,8,9] 같은 리스트를 입력받을 때, 짝수 리스트를 리턴하는 함수를 구현하세요.

In [21]:
def hello(n):
    for i in range(n):
        print("안녕하세요")
hello(3)

안녕하세요
안녕하세요
안녕하세요

In [22]:
def sums(*argv):
    result = 0
    for i in argv:
        result += i
    return result
sums(1,3,5,7)

16

In [23]:
def evens(l):
    result = []
    for i in l:
        if i % 2 == 0:
            result.append(i)
    return result
evens([1,4,3,5,7,8,9])

[4, 8]

In [24]:
import mod

In [25]:
mod.add(1, 2)

3

In [26]:
mod.sub(2, 1)

1

In [27]:
import mod as m
m.add(1, 2)

3

In [28]:
from mod import add
add(1, 2)

3

In [29]:
from mod import *
sub(2, 1)

1

In [32]:
from keras.models.test import test
test()

'test'